<p>shuttlenew works!</p>

<form #form="ngForm">
    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input [(ngModel)]="shuttle.firstname" type="text" class="form-control" id="firstname" name="firstname" >
    </div>
    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input [(ngModel)]="shuttle.lastname" type="text" class="form-control" id="lastname" name="lastname" >
    </div>
    <div class="form-group">
      <label for="tubesGiven">Tubes Given:</label>
      <input [(ngModel)]="shuttle.tubesGiven" type="number" class="form-control" id="tubesGiven" name="tubesGiven" >
    </div>
    <!-- <div class="form-group">
        <label for="amountPaid">Amount:</label>
        <input [(ngModel)]="shuttle.amountPaid" type="number" class="form-control" id="amountPaid" name="amountPaid" >
    </div> -->
    <div class="form-group">
        <label for="datePaid">Paid on:</label>
        <input [(ngModel)]="shuttle.datePaid" type="date"  min="2023-10-17" class="form-control" id="datePaid" name="datePaid" >
    </div>
    <div class="form-group">
        <label for="dateGiven">Date Given:</label>
        <input [(ngModel)]="shuttle.dateGiven" type="date" class="form-control" id="dateGiven" name="dateGiven" >
    </div>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea [(ngModel)]="shuttle.comment" class="form-control" id="comment" name="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-success" (click)="createShuttle(form.value)">Create</button>
</form>