<p>homepage works!</p>

<button class="btn btn-danger" (click)="createUser()">Register</button>
<br><br>
<button class="btn btn-primary" (click)="loginUser()">Login</button>

<h1>GBC</h1>
<img class="img" src="./../../../assets/GBC-noBackground.png" alt="GBC logo" height="150px">

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Greensboro Badminton Club, NC</h1>
        <p class="lead">The Greensboro Badminton Club provide the environment for people of Greensboro and surroundings to be able to play the sport of badminton.</p>
        <p class="lead">We are Badminton players enthousiasts and we want to share our passion for the sport to others.</p>
        <hr class="my-4">
        <h4>Locations</h4>
        <iframe style="margin:10px 20px; border: 1px solid rgb(0, 0, 0); border-radius: 5px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.5782900806166!2d-79.91223048394367!3d36.10376671428843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88531ca8a6b91c93%3A0x74666b7a88daadb2!2sLeonard%20Recreation%20Center!5e0!3m2!1sen!2sus!4v1645986929280!5m2!1sen!2sus" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <!-- <iframe style="margin:10px 20px; border: 1px solid black; border-radius: 5px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1612.5105124788759!2d-79.8150488037477!3d36.068591261478815!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb96bc9ef39efbf31!2sThe%20Middle%20College%20at%20UNCG!5e0!3m2!1sen!2sus!4v1656513044497!5m2!1sen!2sus" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <hr class="my-4">
        <section>
            <h1 style="text-decoration: underline;">Testimonies</h1>
            <p class="testimony">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </section>
        <hr class="my-4">
    </div>
</div>