/* You can add global styles to this file, and also import other style files */

/* @import "~bootstrap/dist/css/bootstrap.css." */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

label {
    background-color: rgb(104, 167, 219);
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    border: black 2px solid;
    text-align: center;
}

input {
    background-color: rgb(207, 207, 100);
}

.form-container{
    display: block;
    max-width: 500px;
    margin:auto;

    background: #eceff1;
    padding: 48px;
    border-radius: 16px;
}

.form-container mat-form-field {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 16px;
}

.text-center {
    text-align: center;
}