h3{
    width: 25%;
}

.receive{
    background-color: rgb(185, 153, 63);
    color: black;
    font-weight: bold;
}

.strung{
    background-color: rgb(21, 114, 9);
    color: white;
    font-weight: bold;
}

.notPaid{
    background-color: rgb(219, 115, 115);
    color: black;
    font-weight: bold;
}

.history{
    background-color: rgb(221, 90, 141);
    /* color: white; */
    font-weight: bold;
}

button {
    margin-left: 10px;
}